:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#drum-machine {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
  gap: 10px; /* Adds some space between the drum pads */
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the grid */
}
.drum-pad {
  padding: 20px; /* Adjust the padding as needed */
  background: #ddd; /* Background color for the pads */
  text-align: center; /* Center the text inside each pad */
  cursor: pointer; /* Changes the cursor to indicate clickable items */
}

.drum-pad:active {
  background-color: #ddd;
}

#display {
  margin-bottom: 20px;
  padding: 10px;
  min-height: 50px;
  width: 300px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #ccc;
}
